body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: darkslateblue;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 4px;
}

#finfo {
  background-color: burlywood;
}

#outputD {
  position: fixed;
  left: 4px;
  background-color: olive;
}

.out-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.canvas-layer {
  grid-area: 1 / 1 / 2 / 2;
  visibility: hidden;
}

.canvas-layer.active {
  visibility: visible;
}

.html-layer {
  grid-area: 1 / 1 / 2 / 2;
  display: none;
}

.html-layer.active {
  display: inherit;
}