body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: darkslateblue;
}

.footer {
  position: absolute;
  bottom: 4px;
  background-color: burlywood;
}

.out-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.canvas-layer {
  grid-area: 1 / 1 / 2 / 2;
  visibility: hidden;
}

.canvas-layer.active {
  visibility: visible;
}